@Model YeniStaj.Models.ViewModels.TaskViewModel
@using YeniStaj.Identity
@{
    ViewBag.Title = "ProjeTask";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Waiting Tasks</h2>

<div class="card-block">
    <!-- DataTables init on table by adding .js-dataTable-full class, functionality initialized in js/pages/base_tables_datatables.js -->
    <table id="example" class="table table-bordered table-striped table-vcenter  nowrap display dataTable">
        <thead>
            <tr>
                <th class="text-center">#</th>
                <td>Task Baslik</td>
                <td>Task Aciklama</td>
                <td>Proje Adı</td>
                <td>Task Olusturma Tarihi</td>
                <td>Task Teslim Tarihi</td>
                <td>Task Durumu</td>
                <th class="text-center" style="width: 10%;">Actions</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                var data = Model[i];
                <tr class="" :"bg-red")">
                    <td class="text-center">@(i + 1)</td>



                    <td>@data.TaskBaslik</td>
                    <td>@data.TaskAciklama</td>
                    <td>@MembershipTools.GetProjectName(Convert.ToInt32(data.Projeid))</td>

                    <td>@data.TaskOlusturmaTarihi</td>
                    <td>@data.TaskTeslimTarihi</td>
                    <td>@MembershipTools.GetTaskStateName(Convert.ToInt32(data.TaskStateId))</td>



                    <td class="text-center">
                        <div class="btn-group">
                            <a href="@Url.Action("TakeTask","Task",new { id = data.Taskid })" class="btn btn-xs btn-default btnsendcode" name="@data.Taskid" type="button" title="TakeTask">
                                <i class="icon_close_alt2"></i>
                            </a>

                            <a href="@Url.Action("DeliverTask","Task", new {id = data.Taskid})" class="btn btn-xs btn-default" title="Edit Project">
                                <i class="ion-edit"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>