@model YeniStaj.Models.ViewModels.ProjectIndexViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <h3>@TempData["Message"]</h3>
    @Html.ValidationSummary()
    <div class="card">

        <div class="card-block tab-content">
            <!-- Profile tab 1 -->
            <div class="">

                @using (Html.BeginForm("Create", "Project", FormMethod.Post, new { @class = "fieldset", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    <h4 class="m-t-sm m-b">Proje Oluştur</h4>
                    <div class="form-group row">
                        <div class="col-xs-6">

                            @Html.LabelFor(x => x.ProjeAdi)
                            @Html.TextBoxFor(x => x.ProjeAdi, new { @class = "form-control" })
                        </div>
                        <div class="col-xs-6">
                            @Html.LabelFor(x => x.ProjeAciklama)
                            @Html.TextBoxFor(x => x.ProjeAciklama, new { @class = "form-control" })
                        </div>
                    </div>
                  
                    

                    <div class="row narrow-gutter">
                        <div class="col-xs-6">
                            <button type="submit" class="btn btn-app btn-block">Proje Oluştur</button>
                        </div>
                    </div>
                }
            </div>
            <!-- End profile tab 1 -->
        </div>
       
        <!-- .card-block .tab-content -->
    </div>
    <!-- .card -->
</div>

