@model YeniStaj.Models.ViewModels.RegisterLoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Creative - Bootstrap 3 Responsive Admin Template">
    <meta name="author" content="GeeksLabs">
    <meta name="keyword" content="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal">
    <link rel="shortcut icon" href="~/Content/AdminLayout/img/favicon.png">

    <title>Login</title>

    <!-- Bootstrap CSS -->
    <link href="~/Content/AdminLayout/css/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="~/Content/AdminLayout/css/bootstrap-theme.css" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="~/Content/AdminLayout/css/elegant-icons-style.css" rel="stylesheet" />
    <link href="~/Content/AdminLayout/~/Content/AdminLayout/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles -->
    <link href="~/Content/AdminLayout/css/style.css" rel="stylesheet">
    <link href="~/Content/AdminLayout/css/style-responsive.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
      <![endif]-->
    <!-- =======================================================
      Theme Name: NiceAdmin
      Theme URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
      Author: BootstrapMade
      Author URL: https://bootstrapmade.com
    ======================================================= -->
</head>

<body class="login-img3-body">

    <div class="container">

        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "login-form" }))
        {
            @Html.AntiForgeryToken()
        <div class="login-wrap">
            <p class="login-img"><i class="icon_lock_alt"></i></p>
            <div class="input-group">

                @Html.LabelFor(x => x.LoginViewModel.Username, new { @class = "sr-only", name = "Username" })
                <span class="input-group-addon"><i class="icon_profile"></i></span>

                @Html.TextBoxFor(x => x.LoginViewModel.Username, new { @class = "form-control", placeholder = "Kullanıcı Adı" })
            </div>
            <div class="input-group">

                @Html.LabelFor(x => x.LoginViewModel.Password, new { @class = "sr-only" })
                <span class="input-group-addon"><i class="icon_key_alt"></i></span>

                @Html.TextBoxFor(x => x.LoginViewModel.Password, new { @class = "form-control required", placeholder = "Şifre", Type = "password" })
            </div>
            <div class="form-check">
                <label for="RememberMe" class="css-input switch switch-sm switch-app">
                    @Html.CheckBoxFor(x => x.LoginViewModel.RememberMe, new { @class = "form-check-input" })
                    <label class="form-check-label" for="RememberMe">Beni Hatırla</label>
                </label>
            </div>
            <button class="btn btn-primary btn-lg btn-block" type="submit">Giriş Yap</button>
            <input type="button" class="btn btn-info btn-lg btn-block" value="Create" onclick="location.href='@Url.Action("Register", "Account")'" />

        </div>
        }
       
        <div class="text-right">
            <div class="credits">
                <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version form: https://bootstrapmade.com/buy/?theme=NiceAdmin
            -->
                Designed by <a href="~/Content/AdminLayout/https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </div>


</body>

</html>
